name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

    - name: Set up Go
      uses: actions/setup-go@268d8c0ca0432bb2cf416faae41297df9d262d7f
      with:
        go-version: 1.18

    - name: Check module vendoring
      run: |
        go mod tidy
        go mod vendor
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

    - name: Cache LLVM and Clang
      id: cache-llvm
      uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
      with:
        path: $HOME/.clang
        key: llvm-12.0

    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@4f17b6579351fb03506d988e59077826c366412c
      with:
        ubuntu-version: "20.04"
        version: "12.0.0"
        directory: $HOME/.clang
        cached: ${{ steps.cache-llvm.outputs.cache-hit }}

    - name: Generate
      run: go generate .

    - name: Build
      run: go build .
