name: Image Release Build

on:
  pull_request: {}
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true

jobs:
  build-and-push-prs:
    if: ${{ github.repository == 'cilium/pwru' }}
    environment: ${{ github.ref_type == 'tag' && 'release' }}
    runs-on: ubuntu-24.04

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        if: ${{ github.ref_type == 'tag' }}
        with:
          username: ${{ secrets.DOCKER_HUB_RELEASE_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_RELEASE_PASSWORD }}

      - name: Getting image tag
        id: tag
        run: |
          if [ ${{ github.event.pull_request.head.sha }} != "" ]; then
            tag=${{ github.event.pull_request.head.sha }}
          elif [ "${{ github.ref_type }}" == "tag" ]; then
            tag=${{ github.ref_name }}
          else
            tag=${{ github.sha }}
          fi
          echo tag=$tag >> $GITHUB_OUTPUT
          echo image_tags=${{ github.repository_owner }}/pwru:$tag >> $GITHUB_OUTPUT

      - name: Checkout Source Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ steps.tag.outputs.tag }}

      - name: Docker Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/arm64,linux/amd64
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ steps.tag.outputs.image_tags }}
