on:
  pull_request: {}
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release ${{ github.event_name == 'pull_request' && '(dry-run)' }}
    if: github.repository == 'cilium/pwru'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

      - name: Set up Go
        uses: actions/setup-go@3a0c2c82458cbb45a3cbfeeb2b91ce8f85420560
        with:
          go-version: 1.25.4

      - name: Generate the artifacts
        run: make release

      - name: Create Release
        if: github.event_name == 'push'
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref_name }}
          draft: true
          prerelease: false
          generate_release_notes: true
          files: 'release/*'
