on:
  pull_request: {}
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release ${{ github.event_name == 'pull_request' && '(dry-run)' }}
    if: github.repository == 'cilium/pwru'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Set up Go
        uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775
        with:
          go-version: 1.26.0

      - name: Generate the artifacts
        run: make release

      - name: Create Release
        if: github.event_name == 'push'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref_name }}
          draft: true
          prerelease: false
          generate_release_notes: true
          files: 'release/*'
